<!DOCTYPE html>
<html>

<!-- 头部 -->
<head>
	<meta charset='utf-8'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <link rel="shortcut icon" href="/resources/img/favicon.ico">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	  <link rel="stylesheet" href="/resources/css/bootstrap.min.css">

	   <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	   <script src="/resources/js/jquery.min.js"></script>
	   <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	   <script src="/resources/js/bootstrap.min.js"></script>
    <title>{{site.title}} -- 为回忆,留下我的足迹。</title>
    <style type="text/css">
      a:link{text-decoration: none;};
    </style>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="/">{{site.title}}</a>
    </div>

    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">相关站点<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://midoks.cachecha.com" target="_blank">WP博客</a></li>
          </ul>
        </li>
        <li><a href="/cat.html">分类</a></li>
        <li><a href="/tag.html">标签</a></li>
        <li><a href="/atom.html">ATOM</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm"><li><a href="/about.html" >关于我</a></li></ul>
  </div>
</nav>