<!DOCTYPE html>
<html>

<!-- 头部 -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="Content-Language" content="cn">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<link rel="shortcut icon" href="/resources/img/favicon.ico">
<!-- 新 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet" href="/resources/css/bootstrap.min.css">
<meta name="baidu-site-verification" content="zMuVIwAJfG" />
<style type="text/css">
hr {
  margin-top: 10px;
  margin-bottom: 10px; 
}
#content .rouge-table {
  border-left: 0px;
  border-top: 0px;
}
#content .rouge-gutter{
  border-bottom: 0px;
  border-right: 0px;
  padding: 0px;
}

#content .rouge-gutter pre {
  border-left: 0px;
  border-top: 0px;
  border-bottom: 0px;
  border-radius: 0px;

}
#content .rouge-code{
  border-right: 0px;
  border-bottom:0px;
}

#content .rouge-code pre {
  border: 0px;
}
</style>

<style>
#content table {
  border-left:1px solid #ddd;
  border-top:1px solid #ddd;
  /*width: 100%;*/
}

#content table th {
  padding: 8px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}

#content table td {
  padding: 8px;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
}
</style>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="/resources/js/jquery.min.js"></script>
<script src="/resources/js/bootstrap.min.js"></script>
<!-- <script src="/resources/js/highlight.min.js"></script> -->
<!-- <script src="/resources/js/remarkable.js"></script> -->
<title>{{site.title}}-{% if page.title %}{{ page.title }}{% else %}为回忆,留下我的足迹。不忘初心。{% endif %}</title>
<!-- seo start -->
<meta name="keywords" content="{% if page.title %}{{ page.title }}{% else %}为回忆,留下我的足迹。不忘初心。{% endif %}">
<meta name="description" content="{% if page.title %}{{ page.title }}{% else %}为回忆,留下我的足迹。不忘初心。{% endif %}">
<!-- seo end -->
<style type="text/css">
  a:link{text-decoration: none;};
</style>

<!-- <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-7736695762519033",
    enable_page_level_ads: true
  });
</script> -->

<script>

function isLocal(){
  var local_url = "http://127.0.0.1:4000/";
  if (location.href.substr(0, local_url.length) == local_url){
    return true;
  }
  return false;
}

if (!isLocal()){
  var targetProtocol = "https:";
  if (window.location.protocol != targetProtocol){
      window.location.href = targetProtocol
      + window.location.href.substring(window.location.protocol.length);
  }
}

if (!isLocal()){
  //google ad
  $.getScript("https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js",function(){
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-7736695762519033",
      enable_page_level_ads: true
    });
  });

  //百度统计
  var _hmt = _hmt || [];
  (function() {
    var hm = document.createElement("script");
    hm.src = "https://hm.baidu.com/hm.js?c66706e0fc1b6293a62f8eba588390ec";
    var s = document.getElementsByTagName("script")[0]; 
    s.parentNode.insertBefore(hm, s);
  })();
}
</script>

</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand hidden-sm" href="/">{{site.title}}</a>
    </div>

    <div class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">完成项目<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/midoks/DnsPod" target="_blank">DNSPOD客服端</a></li>
            <li><a href="https://github.com/midoks/MDserver_64" target="_blank">MDserver_64(PHP集成环境[win64])</a></li>
            <li><a href="http://midoks.github.com/mdserver-mac/" target="_blank">mdserver-mac(PHP集成环境[macosx])</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">试验项目<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://sobook.cachecha.com" target="_blank">小说搜索</a></li>
            <li><a href="https://github.com/midoks/webcron" target="_blank">计划任务调度</a></li>
            <li><a href="https://github.com/midoks/checkword" target="_blank">敏感词检测</a></li>
          </ul>
        </li>

        <li><a href="/cat.html">分类</a></li>
        <li><a href="/tag.html">标签</a></li>
        <!-- <li><a href="/atom.html">ATOM</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right hidden-sm"><li><a href="/about.html" >关于我</a></li></ul>
  </div>
</nav>
