<div class="panel panel-default">

	<div class="panel-heading">分类</div>
	<div class="panel-body">
		{% for category in site.categories %} 
		  <span><a href="/cat.html#{{ category[0] }}-ref">{{ category[0] | join: "/" }}</a></span>
		{% endfor %}
	</div>

	<div class="panel-heading">标签</div>
	<div class="panel-body">
		{% for tag in site.tags %} 
		  <span><a href="/tag.html#{{ tag[0] }}-ref">{{ tag[0] | join: "/" }}</a></span>
		{% endfor %}
	</div>


	<div class="panel-heading">我的微博</div>
	<div class="panel-body">
	    <p><!--<iframe width="100%" height="385" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=385&fansRow=1&ptype=0&speed=0&skin=5&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1504761980&verifier=2163a5e7&dpc=1"></iframe> --></p>
	</div>

	<div class="panel-heading">学习链接</div>
	<table class="table">
	    <tr><td><a href="http://man.chinaunix.net/develop/c&c++/linux_c/default.htm" target="_blank">Linux 常用C函数（中文版）</a></td></tr>
	</table>
	<div class="panel-heading">捐赠我(支付宝扫描)</div>
	<div class="panel-body" style="text-align:center;"><img src="/resources/img/mini_alipay.png"/></div>
</div>