<p style="text-align:center;" class="p_img">

<!-- cnzz统计  start --> 
<script src="http://s23.cnzz.com/stat.php?id=3446749&web_id=3446749&show=pic" language="JavaScript"></script>
<!-- cnzz统计  end -->

<!-- baidu 统计 start -->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F64762a031b508a821f97c028b169a1dd' type='text/javascript'%3E%3C/script%3E"));
</script>
<!-- baidu 统计 end -->

<!-- 51.la 统计 start -->
<script language="javascript" type="text/javascript" src="http://js.users.51.la/3071657.js"></script>
<noscript><a href="http://www.51.la/?3071657" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/3071657.asp" style="border:none" /></a></noscript>
<!-- 51.la 统计 start -->

<!-- qq 统计 start -->
<script type="text/javascript" src="http://tajs.qq.com/stats?sId=26506644" charset="UTF-8"></script>
<!-- qq 统计 end -->
</p>