<p style="text-align:center;" class="p_img">

<!-- cnzz统计  start --> 
<!-- <script src="http://s23.cnzz.com/stat.php?id=3446749&web_id=3446749&show=pic" language="JavaScript"></script> -->
<!-- cnzz统计  end -->

<!-- baidu 统计 start -->
<a href="https://tongji.baidu.com/web/2788203/overview/index?siteId=12452567" target="_blank">
	<img border="0" src="https://hmcdn.baidu.com/static/hmt/icon/41.gif" width="67" height="18">
</a>
<!-- baidu 统计 end -->

<!-- qq 统计 start -->
<!-- <script type="text/javascript" src="http://tajs.qq.com/stats?sId=26506644" charset="UTF-8"></script> -->
<!-- qq 统计 end -->
</p>
