

#content pre.highlight {
    padding: 0px;
}

#content pre.highlight .lineno {
    padding-top: 0px;
    padding-bottom: 0px;
}

#content pre.highlight .rouge-code {
    padding-top: 0px;
    padding-bottom: 0px;
}

#content pre.highlight .rouge-code pre {
    margin-bottom: 0px;
}