---
title: midoks like program
---

{% include header.html %}
 
<style type="text/css">
a{
  text-decoration: none;
}     
</style>
<div class="body" style="margin-top:55px;">
	<div class="wrap">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">介绍</div>
		  <div class="panel-body">
		    <p>热爱编程,喜欢学习当前前沿的技术。我自己编写的代码,都会开源,不管我写的代码,有多丑陋。</p>
		  </div>

		 <div class="panel-heading">个人技能</div>
		  <table class="table">
		    <tr><td>语言</td><td class="hidden-xs hidden-sm">领域</td><td>作品</td></tr>

		    <tr><td>PHP</td><td class="hidden-xs hidden-sm">wordpress,thinkphp,dedecms,echsop,discuz</td><td>
		    	<a href="https://wordpress.org/plugins/wp-weixin-robot/" target="_blank">WP微信机器人</a>
		    	<a href="https://github.com/midoks/midoks/tree/master/dede-weixin-robot">Dede微信机器人</a>
		    	<a href="https://github.com/midoks/midoks/tree/master/ec_plugins_install">Ecshop插件实现</a>
		    	<a href="https://github.com/midoks/midoks/tree/master/midoks_weixin_robot">Discuz微信机器人</a>
		    	<a href="https://github.com/midoks/midoks">各种PHP程序</a>
		    	<a href="https://github.com/midoks/WordPressPlugins">各种WordPress插件</a>
		    </td></tr>

		    <tr><td>JavaScript</td><td class="hidden-xs hidden-sm">jQuery,Chrome扩展开发,Bootstrap开发</td><td>
		    	<a href="https://github.com/midoks/jQueryPlugin">Jquery插件实例</a>
		    	<a href="https://github.com/midoks/chrome-extensions">Chrome扩展开发实例</a>
		    	<a href="http://getbootstrap.com/">Bootstrap</a>
		    </td></tr>

		    <tr><td>C#</td><td class="hidden-xs hidden-sm">无</td><td>
		    	<a href="https://github.com/midoks/MDserver">MDserver(PHP集成环境)</a>
		    </td></tr>

		    <tr><td>python</td><td class="hidden-xs hidden-sm">无</td><td>
		    	<a href="https://github.com/midoks/MDHT">DHT爬虫实现</a>
		    </td></tr>

		    <tr><td>C</td><td class="hidden-xs hidden-sm">无</td><td>
		    	<a href="https://github.com/midoks/mws">mws(web服务器)[编写中...]</a>
		    </td></tr>

		    <tr><td>Object-C</td><td class="hidden-xs hidden-sm">无</td><td>
		    	<a href="https://github.com/midoks/MDTableViewHAFPullRefresh">MDTableViewHAFPullRefresh</a>
		    </td></tr>

		    <tr><td>Golang</td><td class="hidden-xs hidden-sm">无</td><td>
		    	探索中。。。。
		    </td></tr>
		  </table>

		  <div class="panel-heading">奇技淫巧</div>

		  <div class="panel-heading">当前职业方向</div>

		  <div class="panel-heading">捐赠我(支付宝扫描)</div>
	<div class="panel-body" style="text-align:center;"><img src="/resources/img/mini_alipay.png"/></div>
		</div>
	</div>
</div>
{% include footer.html %}