<!DOCTYPE html>
<html>
<!-- 头部 -->

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="cn">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="shortcut icon" href="/resources/img/favicon.ico">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:regular,semibold,italic,italicsemibold|PT+Sans:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic" rel="stylesheet" />
    <link href="/resources/css/impress.css" rel="stylesheet" />
</head>

<body class="impress-not-supported">
    <div class="fallback-message">
        <p>您的浏览器 <b>不支持</b> impress.js的展示要求, 将为您呈现简化版的展示</p>
        <p>为了获取最佳效果，请使用最新版的<b>Chrome</b>，<b>Safari</b> 或 <b>Firefox</b> 浏览器</p>
        <p>珍爱生命，保护地球，远离IE。</p>
    </div>
    <div id="impress">
        <div id="welcome" class="step" data-x="-1000" data-y="-1500">
            <p>欢迎来到这</p>
            <p><span class="footnote">我叫<span class="name">陈江山</span>，这里将是我回忆的地方</span>
            </p>
            <p><span class="title">喜欢用<b>midoks</b>，用做我的呢称。</span></p>
        </div>
        <div id="me" class="step" data-x="0" data-y="-2500">
            <b class="now_me">我是一名程序猿</b>
            <ul>
                <li><b class="unity">PHP程序员</b></li>
                <li><b class="ios">iOS开发</b></li>
            </ul>
        </div>
        <div id="whereiam" class="step" data-x="850" data-y="3000" data-rotate="90" data-scale="4">
            <p>生于偏远的农村<span class="kunming">四川巴中...</span></p>
            <p><span class="born">也长于斯。</span></p>
            <p>就读<span class="tsinghua">3流大学</span></p>
            <p><span class="study">无心看书，喜欢捣腾技术</span></p>
        </div>
        <div id="work" class="step" date-x="900" data-y="-200" data-rotate="80" data-scale="3">
            <p>工作近两年了,生活无奈,呆过3家公司,遇到过坑爹不给工资的。</p>
            <p>至今,都没有一点存货。</p>
        </div>
        <div id="tiny" class="step" data-x="1300" data-y="6000" data-z="-3000" data-rotate="300" data-scale="1">
            <p>但是</p>
        </div>
        <div id="comein" class="step" data-x="0" data-y="7000" data-z="-3000" data-rotate="300">
            <p>我对技术和生活的热情,从来都没有减过。</p>
        </div>
        <div id="product" class="step" date-x="900" data-y="5000" data-rotate="80" data-scale="3">
            <p>还是说说我的作品吧。</p>
        </div>
        <div id="product_show" class="step" date-x="900" data-y="5000" data-rotate="80" data-scale="3">
            <p>还是说说我的作品吧。</p>
        </div>
        <div id="product1" class="step" date-x="1000" data-y="8000" data-rotate="180" data-scale="3">
            <p>2013-08-15, 我完成了<a href="https://wordpress.org/plugins/wp-weixin-robot/" title="一个WordPress插件" target="_blank">WP微信机器人</a>的一个版本，当然后面，我一直在升级。</p>
        </div>
        <div id="product2" class="step" date-x="1000" data-y="11000" data-rotate="90" data-scale="3">
            <p> 2014-09-30, 我完成了<a href="http://midoks.cachecha.com/p/mdserver.html" title="PHP集成环境" target="_blank">MDserver</a>,用C#开发的,主要是想在windows用自己的开发环境。</p>
        </div>
        <div id="product3" class="step" date-x="1000" data-y="15000" data-rotate="180" data-scale="3">
            <p> 2015-02-24, 我完成了<a href="http://midoks.cachecha.com/p/mdserver-mac.html" title="PHP集成环境" target="_blank">mdserver</a>,用object-c开发的,主要是想在mac osx也用自己的开发环境,为进入iOS开发练手。</p>
        </div>
        <div id="product4" class="step" date-x="1000" data-y="13500" data-rotate="90" data-scale="3">
            <p>DnsPod的iOS手机客服端编写,代码都完成了,等待办信用卡,然后申请开发者ID,要一段时间才能上线哦。</p>
        </div>
        <div id="product_end" class="step" date-x="1000" data-y="18000" data-rotate="180" data-scale="3">
            <p>我也写过很多其他东西。</p>
            <p>关注<a href="http://midoks.cachecha.com/" target="_blank">我的博客</a>和<a href="https://github.com/midoks" target="_blank">github</a></p>
        </div>
        <div id="treenewbee" class="step" date-x="1000" data-y="21000" data-rotate="360" data-scale="3">
            <p>长路漫漫，吾将上下而求索。</p>
            <p>天行健，君子以自强不息。</p>
            <p>--->tree new bee.</p>
        </div>
    </div>
    <script src="/resources/js/impress.js"></script>
    <script>
    impress().init();
    </script>
</body>

</html>