---
title: midoks like program
---

{% include header.html %}
 
<style type="text/css">
a{
  text-decoration: none;
}     
</style>
<div class="body" style="margin-top:55px;">
	<div class="wrap">
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">介绍</div>
		  <div class="panel-body">
		    <p>热爱编程,喜欢学习当前前沿的技术。我自己编写的代码,都会开源,不管我写的代码,有多丑陋。</p>
		  </div>

		 <div class="panel-heading">个人技能</div>
		  <table class="table">
		    <tr><td>语言</td><td class="hidden-xs hidden-sm">领域</td><td>作品</td></tr>
		    <tr><td>PHP</td><td class="hidden-xs hidden-sm">wordpress,thinkphp,dedecms,echsop,discuz</td><td>
		    	<a href="https://wordpress.org/plugins/wp-weixin-robot/" target="_blank">WP微信机器人</a>
		    	<a>DedeCMS-微信机器人</a>
		    	<a>DedeCMS-微信机器人</a>
		    	<a>DedeCMS-微信机器人</a>
		    	<a>DedeCMS-微信机器人</a>
		    </td></tr>
		    <tr><td>JavaScript</td><td class="hidden-xs hidden-sm">jQuery,Chrome扩展开发</td><td></td></tr>
		    <tr><td>object-c</td><td class="hidden-xs hidden-sm">学习中...</td><td></td></tr>
		    <tr><td>C</td><td class="hidden-xs hidden-sm">学习中...</td><td></td></tr>
		    <tr><td>python</td><td class="hidden-xs hidden-sm">学习中...</td><td></td></tr>
		  </table>

		  <div class="panel-heading">奇技淫巧</div>

		  <div class="panel-heading">当前职业方向</div>

		  <div class="panel-heading">捐赠我(支付宝扫描)</div>
	<div class="panel-body" style="text-align:center;"><img src="/resources/img/mini_alipay.png"/></div>
		</div>
	</div>
</div>
{% include footer.html %}